<?xml version='1.0' encoding='utf-8'?>
<plugin id="rtmp-client-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RTMP-Client</name>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module name="RTMP-Client" src="www/RTMP-Client.js">
        <clobbers target="cordova.plugins.RTMP-Client" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RTMPClient">
                <param name="android-package" value="com.ygnbinhaus.rtmp.client.RTMPClient"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-feature android:name="android.hardware.camera2.full" android:required="false" />
            <uses-feature android:name="android.hardware.camera2.autofocus" android:required="false" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.ygnbinhaus.rtmp.client.RTMPStreamer" android:screenOrientation="portrait"/>
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/com.ygnbinhaus.rtmp.client/RTMPStreamer.java" target-dir="src/com.ygnbinhaus.rtmp.client"/>
        <source-file src="src/android/com.ygnbinhaus.rtmp.client/RTMPClient.java" target-dir="src/com.ygnbinhaus.rtmp.client"/>

        <resource-file src="src/android/res/layout/rtsp_rtmp_streamer.xml" target="res/layout/rtsp_rtmp_streamer.xml" />

        <resource-file src="src/android/res/drawable-hdpi/ic_flash_off_white_36dp.png" target="res/drawable-hdpi/ic_flash_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_flash_on_white_36dp.png" target="res/drawable-hdpi/ic_flash_on_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_switch_video_white_36dp.png" target="res/drawable-hdpi/ic_switch_video_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_videocam_off_white_36dp.png" target="res/drawable-hdpi/ic_videocam_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_videocam_white_36dp.png" target="res/drawable-hdpi/ic_videocam_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_mode_comment_white_36dp.png" target="res/drawable-hdpi/ic_mode_comment_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-hdpi/ic_fiber_manual_record_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_stop_white_36dp.png" target="res/drawable-hdpi/ic_stop_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_autorenew_white_36dp.png" target="res/drawable-hdpi/ic_autorenew_white_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_tune_grey600_36dp.png" target="res/drawable-hdpi/ic_tune_grey600_36dp.png" />
        <resource-file src="src/android/res/drawable-hdpi/ic_window_close_grey600_36dp.png" target="res/drawable-hdpi/ic_window_close_grey600_36dp.png" />

        <resource-file src="src/android/res/drawable-mdpi/ic_flash_off_white_36dp.png" target="res/drawable-mdpi/ic_flash_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_flash_on_white_36dp.png" target="res/drawable-mdpi/ic_flash_on_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_switch_video_white_36dp.png" target="res/drawable-mdpi/ic_switch_video_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_videocam_off_white_36dp.png" target="res/drawable-mdpi/ic_videocam_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_videocam_white_36dp.png" target="res/drawable-mdpi/ic_videocam_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_mode_comment_white_36dp.png" target="res/drawable-mdpi/ic_mode_comment_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-mdpi/ic_fiber_manual_record_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_stop_white_36dp.png" target="res/drawable-mdpi/ic_stop_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_autorenew_white_36dp.png" target="res/drawable-mdpi/ic_autorenew_white_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_tune_grey600_36dp.png" target="res/drawable-mdpi/ic_tune_grey600_36dp.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_window_close_grey600_36dp.png" target="res/drawable-mdpi/ic_window_close_grey600_36dp.png" />

        <resource-file src="src/android/res/drawable-xhdpi/ic_flash_off_white_36dp.png" target="res/drawable-xhdpi/ic_flash_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_flash_on_white_36dp.png" target="res/drawable-xhdpi/ic_flash_on_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_switch_video_white_36dp.png" target="res/drawable-xhdpi/ic_switch_video_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_videocam_off_white_36dp.png" target="res/drawable-xhdpi/ic_videocam_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_videocam_white_36dp.png" target="res/drawable-xhdpi/ic_videocam_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_mode_comment_white_36dp.png" target="res/drawable-xhdpi/ic_mode_comment_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-xhdpi/ic_fiber_manual_record_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_stop_white_36dp.png" target="res/drawable-xhdpi/ic_stop_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_autorenew_white_36dp.png" target="res/drawable-xhdpi/ic_autorenew_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_tune_grey600_36dp.png" target="res/drawable-xhdpi/ic_tune_grey600_36dp.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_window_close_grey600_36dp.png" target="res/drawable-xhdpi/ic_window_close_grey600_36dp.png" />

        <resource-file src="src/android/res/drawable-xxhdpi/ic_flash_off_white_36dp.png" target="res/drawable-xxhdpi/ic_flash_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_flash_on_white_36dp.png" target="res/drawable-xxhdpi/ic_flash_on_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_switch_video_white_36dp.png" target="res/drawable-xxhdpi/ic_switch_video_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_videocam_off_white_36dp.png" target="res/drawable-xxhdpi/ic_videocam_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_videocam_white_36dp.png" target="res/drawable-xxhdpi/ic_videocam_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_mode_comment_white_36dp.png" target="res/drawable-xxhdpi/ic_mode_comment_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-xxhdpi/ic_fiber_manual_record_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_stop_white_36dp.png" target="res/drawable-xxhdpi/ic_stop_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_autorenew_white_36dp.png" target="res/drawable-xxhdpi/ic_autorenew_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_tune_grey600_36dp.png" target="res/drawable-xxhdpi/ic_tune_grey600_36dp.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_window_close_grey600_36dp.png" target="res/drawable-xxhdpi/ic_window_close_grey600_36dp.png" />

        <resource-file src="src/android/res/drawable-xxxhdpi/ic_flash_off_white_36dp.png" target="res/drawable-xxxhdpi/ic_flash_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_flash_on_white_36dp.png" target="res/drawable-xxxhdpi/ic_flash_on_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_switch_video_white_36dp.png" target="res/drawable-xxxhdpi/ic_switch_video_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_videocam_off_white_36dp.png" target="res/drawable-xxxhdpi/ic_videocam_off_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_videocam_white_36dp.png" target="res/drawable-xxxhdpi/ic_videocam_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_mode_comment_white_36dp.png" target="res/drawable-xxxhdpi/ic_mode_comment_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_fiber_manual_record_white_36dp.png" target="res/drawable-xxxhdpi/ic_fiber_manual_record_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_stop_white_36dp.png" target="res/drawable-xxxhdpi/ic_stop_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_autorenew_white_36dp.png" target="res/drawable-xxxhdpi/ic_autorenew_white_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_tune_grey600_36dp.png" target="res/drawable-xxxhdpi/ic_tune_grey600_36dp.png" />
        <resource-file src="src/android/res/drawable-xxxhdpi/ic_window_close_grey600_36dp.png" target="res/drawable-xxxhdpi/ic_window_close_grey600_36dp.png" />
    </platform>
</plugin>
